<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dale.glide">

    <application>

        <meta-data
            android:name="com.dale.glide.ABGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>